body {
  margin: 0;
  background-color: #e9edee;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  background-color: #222f3f;
}

header img {
  width: 100px;
  padding-top: 0.1em;
  padding-bottom: 0.4em;
  padding-left: 1.5em;
}

nav a {
  color: white;
  padding-left: 1.2em;
  text-decoration: none;
  font-size: 0.9em;
}

.menu {
  background-color: #364759;
  color: white;
  padding-block: 0.3em;
}

header img {
  width: 100px;
  padding-top: 0.1em;
  padding-bottom: 0.4em;
  padding-left: 1.5em;
}

.banner-top {
  background-color: #f56600;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-inline: 1.5em;
  margin-block: 1.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.banner-text {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

.title {
  background-image: url(../images/bg-image.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  margin-inline: 1.5em;
  margin-block: 0em 2em;
  padding-block: 2em 1em;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2em;
}
.title p {
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 1.2em;
  padding-bottom: 0.1;
  padding-top: 0.5em;
}

.inline-img {
  text-align: center;
  margin-block: 1.5em 2em;
  margin-inline: 1.5em;
  background-color: #ffffff;
  padding-block: 1em 1em;
}

p a {
  text-decoration: none;
  padding-left: 1em;
  font-weight: 600;
  color: #2a7b81;
}

.tip {
  color: black;
  text-align: left;
  padding-top: 0.1em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
}

.tip2 {
  text-align: center;
  color: black;
  font-size: 1.3em;
  margin: 0;
  padding-block: 0.3em 1.7em;
  font-weight: 400;
}

.img1 {
  background-image: url(../images/img_1.jpg);
  width: 430px;
  height: 500px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-right: 0;
  border-radius: 5%;
  margin-inline: 1em;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
}

.img2 {
  background-image: url(../images/img_2.jpg);
  width: 430px;
  height: 500px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 0;
  border-radius: 5%;
  margin-inline: 1em;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
}

.img3 {
  background-image: url(../images/img_3.jpg);
  width: 430px;
  height: 500px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 0;
  border-radius: 5%;
  margin-inline: 1em;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
}

.img4 {
  background-image: url(../images/img_4.jpg);
  width: 430px;
  height: 500px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 0;
  border-radius: 5%;
  margin-inline: 1em;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
}

.lng-img1 {
  text-align: center;
  margin-block: 1.5em;
  margin-inline: 1.5em;
  padding-block: 1em 1em;
}

.gaming {
  background-image: url(../images/img_9.png);
  width: auto;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-right: 0;
  margin-inline: 1em;
}

.audio {
  background-image: url(../images/img_10.png);
  width: auto;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-right: 0;
  margin-inline: 1em;
}

.back-up {
  background-color: #364759;
  text-align: center;
  padding-block: 1em 1em;
}

.back-to-top {
  color: white;
  padding-block: 1em 1em;
  font-size: 1.2em;
}

.end-img {
  background-image: url(../images/logo.png);
  background-color: #222f3f;
  background-size: 250px;
  width: auto;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

a {
  font-size: 0.8em;
}
